In [1]:
# import pandas library, rename it pd
# will use pandas library to analyze data on salaries by college majors
import pandas as pd

In [2]:
# mount google drive to notebook if using google collab
# from google.colab import drive
# drive.mount('/content/gdrive')

In [3]:
# use pandas to import csv file and create dataframe
df = pd.read_csv("salaries_by_college_major.csv")

**Analyzing datasets:**

1. How many rows does our dataframe have? 

2. How many columns does it have?

3. What are the labels for the columns? Do the columns have names?

4. Are there any missing values in our dataframe? Does our dataframe contain any bad data?

In [4]:
# use head method to inspect what the data looks like
df.head(5)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

**Useful measurements to be familiar with**

What is percentile? 
* percentile is the value at a particular rank
e.g. if you score  score on a test is on the 95th percentile, a common interpretation is that only 5% of the scores were higher than yours.

Mean or media? 
* median is better measuremnt of central tendency is data is skewed
* mean is affected by outliers

In [5]:
# use shape method to count number of rows & columns
df.shape

(51, 6)

In [6]:
# columns method returns array containing names of columns
# can be useful later on
columns = df.columns
#print(columns)

In [7]:
# before analyzing data check for missing or junk data

# use isna() method 
# isna() method returns a DataFrame object where all the values are replaced  
# with a Boolean value True for NA (not-a-number) values, and otherwise False 
na_df = df.isna()

In [8]:
# looks like we have some NA values at index 50 of dataframe
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [9]:
# drop row at index 50
clean_df = df.dropna()

1. Find College Major with Highest Starting Salaries

In [10]:
# extract values from column starting_median_salary
starting_med_sal = clean_df['Starting Median Salary']
idx_max_salary = starting_med_sal.idxmax()
major_with_highest_starting_salary = clean_df['Undergraduate Major'][idx_max_salary]
# major with highest median starting salary 
"major with highest starting salary: " + major_with_highest_starting_salary

'major with highest starting salary: Physician Assistant'

2. What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [11]:
clean_df.head()
idx_of_major_with_highest_mid_car_salary = clean_df['Mid-Career Median Salary'].idxmax()
major_with_highest_mid_car_salary = clean_df['Undergraduate Major'][idx_of_major_with_highest_mid_car_salary]

q_two_a = "major with highest_mid_career_median_salary: " + major_with_highest_mid_car_salary
print(q_two_a)

mid_highest_earning_major_salary = clean_df['Mid-Career Median Salary'][idx_of_major_with_highest_mid_car_salary]
q_two_b = "mid career graduates with this major earn on average: " + str(mid_highest_earning_major_salary)
print(q_two_b)

major with highest_mid_career_median_salary: Chemical Engineering
mid career graduates with this major earn on average: 107000.0

3. Which college major has the lowest starting salary and how much do graduates earn after university?

In [12]:
idx_lowest_starting_salary = clean_df['Starting Median Salary'].idxmin()
major_lowest_starting_salary = clean_df['Undergraduate Major'][idx_lowest_starting_salary]
q_three_a = "college major with lowest starting salary: " + major_lowest_starting_salary
print(q_three_a)

salary_of_major_with_lowest_starting_salary = clean_df['Starting Median Salary'][idx_lowest_starting_salary]
q_three_b = "graduates with " + major_lowest_starting_salary + " Major make " + str(salary_of_major_with_lowest_starting_salary)
print(q_three_b)

college major with lowest starting salary: Spanish
graduates with Spanish Major make 34000.0


4. Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [13]:
idx_lowest_mid_salary = clean_df['Mid-Career Median Salary'].idxmin()
major_lowest_mid_salary = clean_df['Undergraduate Major'][idx_lowest_mid_salary]
q_four_a = "college major with lowest mid career salary: " + major_lowest_mid_salary
print(q_four_a)

salary_of_major_with_lowest_mid_salary = clean_df['Mid-Career Median Salary'][idx_lowest_mid_salary]
q_four_b = "graduates with " + major_lowest_mid_salary + " Major make " + str(salary_of_major_with_lowest_mid_salary)
print(q_four_b)

college major with lowest mid career salary: Education
graduates with Education Major make 52000.0

Lowest Risk Majors

A low-risk major is a degree where there is a small difference between the lowest and highest salaries. In other words, if the difference between the 10th percentile and the 90th percentile earnings of your major is small, then you can be more certain about your salary after you graduate.

Calculate the difference between the earnings of the 10th and 90th percentile.

Then use the calculated spread to find the major with the lowest risk.

In [14]:
# calculate the difference in earnings
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

#enter spread column into df
clean_df.insert(1, "Spread", spread_col)


# # sort df by ascending spread 
# df_sorted_by_ascending_spread = spread_col.sort_values('Spread')
# df_sorted_by_ascending_spread[['Undergraduate Major', "Spread"]].head()

In [15]:
clean_df.head()

df_sorted_by_ascending_spread = clean_df.sort_values('Spread')
lowest_risk_df = df_sorted_by_ascending_spread[['Undergraduate Major', 'Spread']].head()
lowest_risk_df.reset_index(drop=True, inplace=True,)

lowest_risk_df.head()

          Undergraduate Major   Spread
0                     Nursing  50700.0
1         Physician Assistant  57600.0
2                   Nutrition  65300.0
3                     Spanish  65400.0
4  Health Care Administration  66400.0

In [16]:

print_this = "The lowest risk majors are, that is, the ones with the lowest spread in salaries are:"
low_risk_majors = lowest_risk_df['Undergraduate Major']
low_risk_spreads = lowest_risk_df['Spread']

def print_majors():
  print(print_this)
  for idx, value in enumerate(low_risk_majors):
    print(value + ", spread salary: " + str(low_risk_spreads[idx]))

print_majors()

The lowest risk majors are, that is, the ones with the lowest spread in salaries are:
Nursing, spread salary: 50700.0
Physician Assistant, spread salary: 57600.0
Nutrition, spread salary: 65300.0
Spanish, spread salary: 65400.0
Health Care Administration, spread salary: 66400.0

1. Find the top 5 degrees with the highest values in the 90th percentile.

2. Find the degrees with the greatest spread in salaries. 

<!-- 3. Which majors have the largest difference between high and low earners after graduation? -->

In [17]:
df_sorted_top_five_highest_90th_percentile = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False).head(5)
majors = df_sorted_top_five_highest_90th_percentile['Undergraduate Major']

def print_top_five():
  print('Top 5 degrees with highest values in the 90th percentile, that is, majors with highest potential are: ')
  for x in majors:
    print(x)

print_top_five()

df_sorted_degrees_with_greatest_spread = clean_df.sort_values('Spread', ascending=False)

degrees_with_greatest_spread = df_sorted_degrees_with_greatest_spread['Undergraduate Major'].head(5)

def print_greatest_spread():
  print('The majors with the greatest spread in salaries are: ')
  for x in degrees_with_greatest_spread:
    print(x)

print(" ")
print_greatest_spread()

Top 5 degrees with highest values in the 90th percentile, that is, majors with highest potential are:
Economics
Finance
Chemical Engineering
Math
Physics

The majors with the greatest spread in salaries are:
Economics
Finance
Math
Marketing
Philosophy

Which category of degrees has the highest average salary?

In [18]:
pd.options.display.float_format = '{:,.2f}'.format
clean_df.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"

In [19]:

print('The category of degrees with the highest average salary is Business')

The category of degrees with the highest average salary is Business